//
//  Production.xcconfig
//  hrate
//
//  Created by Anselm Joseph on 12/01/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Server URL
BASE_URL = https:/$()/localhost:3000

APP_NAME = HRate
APP_BUNDLE_ID = com.an23lm.hrate
